.skill-box {
    display: inline-block;
    box-sizing: border-box;
    background: #ecf0f1;
    padding: 10px 15px;
    /*border-radius: 3px;*/
    color: black;
    margin: 5px;
    transition-property: background-color, color, border, border-radius;
    transition-duration: .5s;
}

.skill-box:hover{
    background-color: #007fff;
    color: #ecf0f1;
    border-radius: 15px;
    border: 2px solid black;

}

.box-well {
    display: inline-block;
    height: 20px;
    width: 100px;
    background: #007fff;
    vertical-align: middle;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 20px;

}

@media screen and (max-width: 500px){
    .skill-box {
        width: 100%;
        max-width: 250px;
        text-align: center;
        transition-property: background-color, color, border-radius;
        transition-duration: 1s;

    }

    .skill-box:hover{
        background-color: black;
        color: #ecf0f1;
        border-radius: 15px;
    }
}